---
layout: default
permalink: /partenaires/

title: Partenaires - TEDx Université Paris-Dauphine
description: Découvrez les partenaires de TEDx Université Paris-Dauphine.

partners:
  - name: Université Paris Dauphine
    logo: /assets/images/uploads/universite-paris-dauphine-tedx-dauphine.png
    website: http://www.dauphine.fr/
    description: L’université Paris-Dauphine est un établissement public d’enseignement supérieur et de recherche français spécialisé dans les sciences des organisations et des marchés

  - name: PSL
    logo: /assets/images/uploads/psl-tedx-dauphine.png
    website: https://www.univ-psl.fr/fr
    description: L’université de recherche Paris Sciences & Lettres est une communauté d'universités et établissements française. Elle regroupe vingt-six institutions.

  - name: Ladurée
    logo: /assets/images/uploads/laduree-tedx-dauphine.png
    website: https://www.laduree.fr/
    description: Ladurée, maison de macarons et fabriquant de douceurs depuis 1862, expérience unique de la gourmandise à la française, dispose aujourd'hui de salons de thé et restaurants autour du monde.

  - name: Vaivai
    logo: /assets/images/uploads/vaivai-tedx-dauphine.png
    website: https://www.vaivai.fr/fr/
    description: Spécialiste français, propose depuis 7 ans une sélection d'eaux de coco 100% naturelles pour vous faire (re)découvrir les goûts de la noix de coco.

  - name: Nature Addicts
    logo: /assets/images/uploads/nature-addicts-tedx-dauphine.png
    website: http://www.na-natureaddicts.com/fr
    description: La marque Nature Addicts, N.A! réinvente le monde du snacking en créant des encas sucrés et salés 100% issus de la nature et surtout délicieux !

  - name: L'ADN
    logo: /assets/images/uploads/l-adn-tedx-dauphine.png
    website: http://www.ladn.eu/
    description: Tous les jours, l'actualité de l'innovation marketing, communication et business, les meilleures start-up, le top des campagnes de publicité.

  - name: Heetch
    logo: /assets/images/uploads/heetch-tedx-dauphine.png
    website: https://www.heetch.com/
    description: Heetch de retour et partenaire de TEDx Université Paris-Dauphine ! Il t'accompagne pour ta soirée et te propose son moyen de transport pensé pour la vie nocturne.

---

<div class="main-container">
    <section>
        <div class="container">

            <h1 class="medium-heading">Partenaires</h1>

            <div class="mb64">
                {% for partner in page.partners %}
                    {% cycle '<div class="row">', blank, blank, blank %}

                        {% cycle '<div class="col-md-6 col-sm-12"><div class="row">', blank %}

                            <div class="col-sm-6 col-xs-12 text-center">
                                {% if partner.website %}
                                <a href="{{ partner.website }}" target="_blank">
                                    <img src="{{ partner.logo }}" alt="{{ partner.name | slugify }}-tedx-dauphine">
                                </a>
                                {% else %}
                                <img src="{{ partner.logo }}" alt="{{ partner.name | slugify }}-tedx-dauphine">
                                {% endif %}
                                <p class="partners__description">{{ partner.description }}</p>
                            </div>

                        {% cycle blank, '</div></div>' %}

                    {% cycle blank, blank, blank, '</div>' %}
                {% endfor %}
                    {% cycle '</div></div>', blank %}
                    {% cycle '</div>', '</div>', '</div>', blank %}
            </div>

            <div class="row">
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 partners__box-partnerships mb56">
                    <p class="text-center mt24 mb8">Vous souhaitez soutenir l'initiative <strong>TEDx Université
                        Paris-Dauphine ?</strong></p>
                    <p class="text-center"><a href="/contact/">Contactez-nous</a> dès maintenant pour en
                        savoir plus sur les partenariats.</p>
                </div>
            </div>

        </div>
    </section>
</div>