<footer class="footer-2 bg-dark">
    <div class="container">

        <!-- Icons -->
        <div class="row p-mobile footer__icons">
            <div class="col-xs-4 col-sm-offset-3 col-sm-2 footer__icon-wrapper">
                <a href="/infos-pratiques/">
                    <img class="footer__icon center-block" src="/assets/images/emplacement-tedx-dauphine.png"
                         alt="emplacement-tedx-dauphine">
                    <div class="footer__label">Nous trouver</div>
                </a>
            </div>
            <div class="col-xs-4 col-sm-2 footer__icon-wrapper">
                <a href="/contact/">
                    <img class="footer__icon center-block" src="/assets/images/enveloppe-tedx-dauphine.png"
                         alt="enveloppe-tedx-dauphine">
                    <div class="footer__label">Nous contacter</div>
                </a>
            </div>
            <div class="col-xs-4 col-sm-2 footer__icon-wrapper">
                <a href="{{ site.data.options.facebook-url }}" target="_blank">
                    <img class="footer__icon center-block" src="/assets/images/go-to-facebook-tedx-dauphine.png"
                         alt="facebook-tedx-dauphine">
                    <div class="footer__label">Nous suivre</div>
                </a>
            </div>
        </div>

        <div class="visible-xs footer__separator">
            <hr>
        </div>

        <!-- Newsletter form -->
        <div class="row mb-xs-24">
            <div class="col-sm-6 col-sm-offset-3 footer__newsletter-box">
                <p class="text-center">
                    <span class="bold">Inscrivez-vous</span> pour être sûr de ne rien manquer (pas de spam, promis)
                </p>
                {% include mailchimp-form.html %}
            </div>
        </div>

        <div class="visible-xs footer__separator">
            <hr>
        </div>

        <div class="col-sm-offset-3 col-sm-6">
            <p class="footer__terms">
                This independent TEDx event is operated under license from <a
                    href="https://www.ted.com/about/programs-initiatives/tedx-program" target="_blank">TED</a>.
            </p>
            <div class="footer__small-separator-container">
                <hr class="footer__small-separator">
            </div>
            <p class="footer__credits">Fait avec ♥ par
                <a href="https://www.linkedin.com/in/thibaudmartinez/" target="_blank">
                    <strong>TM</strong>
                </a>
            </p>
        </div>
    </div>
</footer>