<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta
            name="description"
            content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

    <!-- Open Graph -->
    <meta property="og:url"                content="{{ site.url }}{{ page.url }}">
    <meta property="og:title"              content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:description"        content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:image"              content="{% if page.image %}{{ page.image }}{% else %}{{ site.image }}{% endif %}">
    <meta property="og:type"               content="website">
    <meta property="og:locale"             content="fr_FR">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/assets/css/themify-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/theme.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600'>

    <link rel="icon" href="/assets/img/favicon.ico">

    <!-- Google Analytics -->
    {% include google-analytics.html %}

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"     defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"   defer></script>
    <script src="/assets/js/scripts.js"                                                 defer></script>

    {% if page.youtube-embed %}
        {% include youtube-embed.html %}
    {% endif %}

</head>