<script defer>

    document.addEventListener("DOMContentLoaded",
        function () {
            var div;
            var v = document.getElementsByClassName("youtube-player");
            for (var n = 0; n < v.length; n++) {
                div = document.createElement("div");
                div.setAttribute("data-id", v[n].dataset.id);
                div.innerHTML = thumb(v[n].dataset.id);
                div.onclick = iframe;
                v[n].appendChild(div);
            }
        });

    function thumb(id) {
        var thumb = '<img src="https://i.ytimg.com/vi/ID/hqdefault.jpg">';
        var play = '<div class="play"></div>';
        return thumb.replace("ID", id) + play;
    }

    function iframe() {
        var iframe = document.createElement("iframe");
        var embed = "https://www.youtube.com/embed/ID?autoplay=1";
        iframe.setAttribute("src", embed.replace("ID", this.dataset.id));
        iframe.setAttribute("frameborder", "0");
        iframe.setAttribute("allowfullscreen", "1");
        this.parentNode.replaceChild(iframe, this);
    }

</script>