.home__subtitle {
  font-size: 1.5em;
  margin-bottom: 48px;
}

.home__subtitle-tickets {
  font-size: 1.6em !important;
  margin-bottom: 34px;
}

.home__what-is-text {
  color: #ffffff;
  font-size: 1.1em;
}

.home__what-is-title {
  color: #ffffff;
  font-size: 1.5em;
  font-weight: 500;
}

.home__btn-watch-talk {
  font-size: 0.8em;
}

.home__btn-talks {
  font-size: 0.9em;
}

.home__btn-tickets {
  width: 228px;
  font-size: 1em;
  margin: 0 5px 10px 5px !important;
}

.home__btn-tickets-learn-more:hover {
  opacity: 0.8;
  margin: 0 5px 10px 5px !important;
}