.videos__heading-1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 38px;
  letter-spacing: 5px;
  color: white;
}

.videos__heading-2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 8px;
  margin-bottom: 0;
}

.videos__description {
  color: white;
  text-align: center;
}

.videos__speaker-name {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 0;
}

.videos__talk-wrapper {
  margin-left: 0;
}